@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", serif;
}

.cs-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #FFFFFF;
}

header {
  width: 100%;
  height: auto;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  padding: 0 5rem 2.5rem 5rem;
}

.hero-message-and-button {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

h1 {
font-size: 3.25rem;
font-style: normal;
font-weight: 700;
line-height: 140%;
letter-spacing: -0.32px;
color: #333E51;
text-align: center;
}

.buttons {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 1.25rem;
}

button {
  width: fit-content;
  display: flex;
  height: 3.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #333E51;
  border-radius: 0.75rem;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  cursor: pointer;
}

#reset-button {
  background-color: #D3D9E3;
  color: #333E51;
  font-weight: 500;
}

.colors-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  border-radius: 1rem;
  background-color: #F2F4F7;
  overflow: hidden;
}

.color-box {
  width: 100%;
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 0.75rem 0 0 0.75rem;
}

#first-color {
  background-color: #F3F4F6;
}

#second-color {
  background-color: #E8EAED;
  margin-left: -12px;
}

#third-color {
  background-color: #DCE0E5;
  margin-left: -12px;
}

#fourth-color {
  background-color: #D0D5DC;
  margin-left: -12px;
}

.color-and-hex-code {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.color-and-hex-code p {
 font-size: 1rem;
 font-style: normal;
 font-weight: 500;
 line-height: 100%;
 text-align: center;
 color: #202733;
}

.color {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.copy-icon-box {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tooltip {
  visibility: hidden;
  background-color: #333E51;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  top: -30px; /* Adjust for positioning */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-icon-box:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 64rem) {
  header {
    width: 100%;
    height: auto;
    padding: 1.5rem 2.5rem;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }

  .hero-message-and-button {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.32px;
    color: #333E51;
    }

    .color-box {
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: flex-end;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 0.75rem 0 0 0.75rem;
    }
}

@media screen and (max-width: 36rem) {
  header {
    width: 100%;
    height: auto;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: center;
  }

  button {
    width: 100%;
    display: flex;
    height: 3rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #333E51;
    border-radius: 0.75rem;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    cursor: pointer;
  }

  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding: 0 1rem 1rem 1rem;
  }

  .hero-message-and-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.32px;
    color: #333E51;
    }

    .color-box {
      width: 100%;
      min-height: 15rem;
      display: flex;
      padding: 1.25rem 1.25rem 1.75rem 1.25rem;
      align-items: flex-end;
      flex: 1 0 0;
      justify-content: center;
      align-self: stretch;
      border-radius: 0.75rem 0.75rem 0 0;
    }

    .colors-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      border-radius: 0.75rem;
      background-color: #F2F4F7;
      overflow: hidden;
    }

    #second-color {
      background-color: #E8EAED;
      margin-top: -0.5rem;
      margin-left: 0;
    }
    
    #third-color {
      background-color: #DCE0E5;
      margin-top: -12px;
      margin-left: 0;
    }
    
    #fourth-color {
      background-color: #D0D5DC;
      margin-top: -12px;
      margin-left: 0;
      padding: 1.25rem;

    }
}